ion-content{
    --background: var(--ion-color-success);
    font-family: "Times New Roman",Times,serif;
  }
  
  
  ion-slides{
    background-color: white;
    height: 95%;
    width: 95%;
    max-width: 800px;
  }
  
  .swiper-slide{
    display: block;
    margin-bottom: 64px;
    background-color: grey
  
  }
  
  h2{
    margin: 0,0,0,0;
    color: var(--ion-color-primary)
  }

  