<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      IONIC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides pager="true">
    <ion-slide>
      <h1>Slide 1</h1>
      <img src="assets/img/ironman.jpg" alt="IRON MAN">
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
      <img src="assets/img/ironmaninterface.jpg" alt="INTERFACE">
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
      <img src="assets/img/ironmanvr.jpg" alt="VR">
    </ion-slide>
  </ion-slides>

</ion-content>
